<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Javascript_11-12</title>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/style.css">
		
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </head>
    <body>
    	<main>
	    	<div id="results">output results here.</div>
			<script type="text/html" id="item_tmpl">
				<% for ( var i = 0; i < data.length; i++ ) { %>
				   <div class="section">
				    <p class="<%=(i == 0 ? "main__heading" : "secondary_heading")%>">
				    	<%= data[i].title %>
				    </p>
				    <p class="content">	
				    	<%= data[i].content%>
			     	</p>
			    </div>
			  <% } %>
			</script>
		</main>
	</body>
</html>